<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit Reservation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Edit Reservation</h1>

    <form th:action="@{/reservations/{id}(id=${reservation.getId()})}" method="POST" th:object="${reservation}">
        <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="form-group">
            <label for="guest">Select a Guest:</label>
            <select class="js-select2 form-control" id="guest" name="guest">
                <option th:value="${reservation.getGuest.id}"
                        th:text="${reservation.getGuest.firstName +' '+ reservation.getGuest.lastName}"/>
                <option th:each="guest : ${guests}"
                        th:value="${guest.id}"
                        th:text="${guest.firstName +' '+ guest.lastName}"></option>
            </select>
            <!--            <span style="color:red" th:if="${#fields.hasErrors('clientFullName')}"-->
            <!--                  th:errors="*{clientFullName}"></span>-->
        </div>
        <div class="form-group">
            <label for="room">Select a Room:</label>
            <select class="js-select2 form-control" id="room" name="room">
                <option th:value="${reservation.getRoom.id}" th:text="${reservation.getRoom.roomNumber}"/>
                <option th:each=" room : ${rooms}"
                        th:value="${room.id}"
                        th:text="${room.roomNumber}"></option>
            </select>
            <!--            <span style="color:red" th:if="${#fields.hasErrors('roomNumber')}"-->
            <!--                  th:errors="*{roomNumber}"></span>-->
        </div>


        <div class="form-group">
            <label for="checkInDate">Check in Date:</label>
            <input type="date" class="form-control" th:field="*{checkInDate}" id="checkInDate" name="checkInDate"/>
            <!--            <span style="color:red" th:if="${#fields.hasErrors('reservationDates[__${dateStatus.index}__].date')}"-->
            <!--                  th:errors="*{reservationDates[__${dateStatus.index}__].date}"></span>-->
        </div>

        <div class="form-group">
            <label for="checkOutDate">Check out Date:</label>
            <input type="date" class="form-control" th:field="*{checkOutDate}" id="checkOutDate" name="checkOutDate"/>
            <!--            <span style="color:red" th:if="${#fields.hasErrors('reservationDates[__${dateStatus.index}__].date')}"-->
            <!--                  th:errors="*{reservationDates[__${dateStatus.index}__].date}"></span>-->
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a th:href="@{/reservations}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
        $('.js-select2').select2();
    });
</script>
</body>
</html>
